<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/studentsList/head.ejs", {pageName: "لیست غایبین"}) %>
    <link rel="stylesheet" href="/css/studentsList.css">
  </head>
  <body class="hold-transition sidebar-mini">

    <div id="information-container">
      <div id="student-informations">
        <div id="student-informations-r">
          <div id="si-main-information">
            <i id="close" class="fas fa-minus" style="color: black;cursor: pointer;float: left;"></i>
            <img src="/dist/img/avatar.png" alt="" id="si-profile">
            <p id="si-class">پایه یازدهم</p>
            <p id="si-name">شایان نصرآبادی</p>
            <p id="si-reshte">شبکه و نرم افزار</p>
          </div>

          <div id="si-informations">
            <p id="si-father">شماره پدر : ۰۹۱۵۱۵۰۲۶۱۹</p>
            <p id="si-mother">شماره مادر : ۰۹۱۵۹۵۱۹۷۳۴</p>
            <p id="si-qeybat-movajah">غیبت های موجه : ۱۰</p>
            <p id="si-qeybat-notMovajah">غیبت های غیر موجه : ۵</p>
            <p id="si-farar">شناسایی سیستمی فرار از مدرسه : ۱</p>
          </div>
        </div>
      </div>
    </div>
    <div id="information-background"></div>
    

    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">خانه</a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <%- include("./templates/sideBar.ejs", {pageName : "لیست غایبین"}) %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">خانه</a></li>
                  <li class="breadcrumb-item active">لیست غایبین</li>
                </ol>
              </div>
              <div class="col-sm-6">
                <h1 class="float-sm-right">لیست غایبین</h1>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Default box -->
          <div class="card card-solid">
            <div class="card-body pb-0">
              <div class="row">

                <!-- qeybats -->
                <!-- ['Shayan', 'Ali', 'Mohammad'] -->
                <% if(qeybats && qeybats[0]){ %>
                <% qeybats.forEach(async (student) => { %>
                  <% const target = students.find(s => s.id == student.studentID) %>

                  <div
                  class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column"
                >
                  <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0 lang-fa">
                      پایه <%= target.class %>
                    </div>
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-5 text-center">
                          <img
                            src="/uploads/<%= target.profile %>"
                            alt="user-avatar"
                            class="img-circle img-fluid"
                          />
                        </div>
                        <div class="col-7">
                          <h2 class="lead lang-fa"><b><%= target.firstName %> <%= target.lastName %></b></h2>
                          <p class="text-muted text-sm lang-fa">
                            <b>رشته: </b> <%= target.reshte %>
                          </p>
                          <ul class="ml-4 mb-0 fa-ul text-muted">
                            <!-- <li class="small lang-fa dc-contacts">
                              <span class="fa-li"
                                ><i class="fas fa-lg fa-check"></i
                              ></span>
                              حاضر در این زنگ: بله
                            </li> -->
                            <li class="small lang-fa dc-contacts">
                              <span class="fa-li"
                                ><i class="fas fa-lg fa-phone"></i
                              ></span>
                              شماره تماس پدر: <%= target.fatherNumber %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="text-right">

                        <% if(student.noeQeybat == "qeyreMovajah"){ %>
                          <button href="#" class="btn btn-sm btn-success lang-fa movajahEvent" id="<%=student.id%>">
                            <i class="fas fa-check"></i> موجه کردن
                          </button>
                        <% }else{ %>
                          <p class="card-header-qeybat">غیبت موجه</p>
                        <% } %>

                        <a id="info-<%= student.id %>" class="btn btn-sm btn-primary lang-fa infoButton">
                          <i class="fas fa-user"></i> مشاهده سوابق
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <% }) %>
                <%}else{%>
                  <h1 style="color: red; text-align: center;width: 100%;" dir="rtl">موردی یافت نشد.</h1>
                <%}%>
                
              </div>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>

    <script>
      var rightText = document.getElementsByClassName("text-right")
      var infoBackground = document.getElementById("information-background")
      var infoContainer = document.getElementById("information-container")
      var infoButtons = document.getElementsByClassName("infoButton")
      var movajahButton = document.getElementsByClassName("movajahEvent")

      infoContainer.addEventListener("click", (e) => {
        if(e.target.id !== "information-container") return;

        infoBackground.style.opacity = "0"
        infoContainer.style.opacity = "0"
        setTimeout(() => {
          infoBackground.style.display = "none"
          infoContainer.style.display = "none"
        }, 350);
      })

      for(let i = 0; i < infoButtons.length; i++){
        infoButtons[i].addEventListener("click", async () => {
          infoBackground.style.display = "block"
          infoContainer.style.display = "flex"

          setTimeout(() => { infoBackground.style.opacity = ".3"; infoContainer.style.opacity = "1" }, 10);

          let studentInformation = await axios.get(`/students/list?action=information&id=${infoButtons[i].id.split("-")[1]}`)
          studentInformation = studentInformation.data

          const d = (v) => { return (v) ? v : "ثبت نشده" }

          document.getElementById("si-profile").src = `/uploads/${d(studentInformation.profile)}`
          document.getElementById("si-name").innerHTML = `${d(studentInformation.firstName)} ${d(studentInformation.lastName)}`
          document.getElementById("si-reshte").innerHTML = d(studentInformation.reshte)
          document.getElementById("si-father").innerHTML = `شماره پدر : ${d(studentInformation.fatherNumber)}`
          document.getElementById("si-mother").innerHTML = `شماره مادر : ${d(studentInformation.motherNumber)}`
        })        
      }

      for(let i = 0; i < movajahButton.length; i++){

        movajahButton[i].addEventListener("click", async (e) => {
           const studentId = movajahButton[i].id
           await axios.post(`/students/list?action=movajah&id=${studentId}`).then(result => {
            if(result.status == 200) movajahButton[i].textContent = "غیبت موجه شد"
           })
        })

      } 

      // Close btn action 
      var minus = document.getElementById("close")
      minus.addEventListener("click", () => {
        infoBackground.style.opacity = "0"
        infoContainer.style.opacity = "0"
        setTimeout(() => {
          infoBackground.style.display = "none"
          infoContainer.style.display = "none"
        }, 350);
      })
    </script>
  </body>
</html>
