<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img
        src="/dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <center class="brand-text font-weight-light lang-fa">هنرستان شریعتی</center>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block"><%= user.realName %></a>
          
        </div>
        <div class="image">
          <img
            src="/uploads/<%= user.profile || 'avatar.jpg' %>"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar lang-fa"
            type="text"
            placeholder="جستجو"
            aria-label="Search"
            autocomplete="off"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
           <li class="nav-item">
            <a href="/" class="nav-link <%= (pageName == 'خانه') ? 'active' : ''%>">
              <i class="nav-icon fas fa-home"></i>
              <p class="lang-fa" style="float: right;">
                خانه
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/students/list" class="nav-link <%= (pageName == 'لیست غایبین') ? 'active' : ''%>">
              <i class="nav-icon fas fa-users"></i>
              <p class="lang-fa" style="float: right;">
                لیست غایبین
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/register" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p class="lang-fa" style="float: right;">
                ساخت حساب جدید
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/students/manage" class="nav-link <%= (pageName == "مدیریت دانش‌آموزان" ? 'active' : '') %>">
              <i class="nav-icon fas fa-user"></i>
              <p class="lang-fa" style="float: right;">
                مدیریت دانش‌آموزان
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book-open"></i>
              <p class="lang-fa" style="float: right;">
                کلاس ها
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <% if(classes.length == 0){ %>
                <li class="nav-item">
                  <a class="nav-link" style="height: 40px;">
                    <p style="float: right; color: rgb(246, 99, 99);; user-select: none;">هیچ کلاسی ثبت نشده</p>
                  </a>
                </li>
              <% } %>


              <% classes.forEach(c => { %>
                <li class="nav-item">
                  <a href="/classes/<%= c.paye %>/<%= c.reshte %>" class="nav-link" style="height: 40px;">
                    <i style="float: right;" class="far fa-circle nav-icon"></i>
                    <p style="float: right;"><%= c.paye %> <%= c.reshte %></p>
                  </a>
                </li>
              <% }) %>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>